.color-scale-none {
    background: #ecedf0;
}

.color-scale-0 {
    background: #eef5ce;
}

.color-scale-1 {
    background: #d6e685;
}

.color-scale-2 {
    background: #8cc665;
}

.color-scale-3 {
    background: #44a340;
}

.color-scale-4 {
    background: #1e6823;
}

.color-scale-5 {
    background: red;
}
